{% load static %}

  <section class="pricing1 cid-u6xfZAv46G" id="pricing-cards-1-u6xfZAv46G">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-12 content-head">
          <div class="mbr-section-head mb-5">
            <h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
              <strong>Propshot Narxlari</strong>
            </h4>
          </div>
        </div>
      </div>
    
      <div class="row">
        <div class="item features-without-image col-12 col-md-6 col-lg-3 item-mb">
          <div class="item-wrapper">
            <div class="item-head">
              <h5 class="item-title mbr-fonts-style mb-0 display-5">
                <strong>{{posts.title}}</strong>
              </h5>
              <h6 class="item-subtitle mbr-fonts-style mt-0 mb-0 display-7">
                <strong></strong>
              </h6>
            </div>
            <div class="item-content">
              <p class="mbr-text mbr-fonts-style display-7">{{posts.description}}</p>
            </div>
            <div class="mbr-section-btn item-footer"><a href="" class="btn item-btn btn-primary display-7">Выбрать</a></div>
          </div>
        </div>
        {% for posts in object_list%}
        <div class="item features-without-image col-12 col-md-6 col-lg-3 item-mb">
          <div class="item-wrapper">
            <div class="item-head">
              <h5 class="item-title mbr-fonts-style mb-0 display-5">
                <strong>{{posts.title}}</strong>
              </h5>
              <h6 class="item-subtitle mbr-fonts-style mt-0 mb-0 display-7">
                <strong></strong>
              </h6>
            </div>
            <div class="item-content">
              <p class="mbr-text mbr-fonts-style display-7">{{posts.description}}</p>
            </div>
            <div class="mbr-section-btn item-footer"><a href="" class="btn item-btn btn-primary display-7">Выбрать</a></div>
          </div>
        </div>
  
        {% endfor% }
        <div class="item features-without-image col-12 col-md-6 col-lg-3 item-mb">
          <div class="item-wrapper">
            <div class="item-head">
              <h5 class="item-title mbr-fonts-style mb-0 display-5">
                <strong>15.000-li propshot</strong>
              </h5>
              <h6 class="item-subtitle mbr-fonts-style mt-0 mb-0 display-7">
                <strong></strong>
              </h6>
            </div>
            <div class="item-content">
              <p class="mbr-text mbr-fonts-style display-7">70$ evaziga trader sizga propshotdan o'tib beradi. Agar siz propshot olmagan bo'lsangiz bizda 210$ da imtihondan o'tib berilgan propshot mavjud!</p>
            </div>
            <div class="mbr-section-btn item-footer"><a href="" class="btn item-btn btn-primary display-7">Выбрать</a></div>
          </div>
        </div>
        <div class="item features-without-image col-12 col-md-6 col-lg-3 item-mb">
          <div class="item-wrapper">
            <div class="item-head">
              <h5 class="item-title mbr-fonts-style mb-0 display-5">
                <strong>25.000-li propshot</strong>
              </h5>
              <h6 class="item-subtitle mbr-fonts-style mt-0 mb-0 display-7">
                <strong></strong>
              </h6>
            </div>
            <div class="item-content">
              <p class="mbr-text mbr-fonts-style display-7">100$ evaziga trader sizga propshotdan o'tib beradi. Agar siz propshot olmagan bo'lsangiz bizda 300$ da imtihondan o'tib berilgan propshot mavjud!</p>
            </div>
            <div class="mbr-section-btn item-footer"><a href="" class="btn item-btn btn-primary display-7">Выбрать</a></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  {% endfor%}