{% extends 'layouts/app.html' %}

{% block content %}

<!-- <div class="row justify-content-center">
    <div class="col-sm-6">
        <h2 class="text-muted">Register</h2>
        <form method="POST" action="{% url 'register' %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="{{ form.username.id_for_label}}">Username:</label>
                <input type="text" name="{{ form.username.name }}" class="form-control" value="{{ form.username.value}}" />
                {% if form.username.errors %}
                <span class="text-danger">{{ form.username.errors }}</span>
                {% endif %}
            </div>

            
            <div class="form-group">
                <label for="{{ form.password1.id_for_label}}">Password:</label>
                <input type="password" name="{{ form.password1.name }}" class="form-control" value="{{ form.password1.value}}" />
                <span class="text-danger">{{ form.password1.errors }}</span>
            </div>
            <div class="form-group">
                <label for="{{ form.password2.id_for_label}}">Re-Type Password:</label>
                <input type="password" name="{{ form.password2.name }}" class="form-control" value="{{ form.password2.value}}" />
                <span class="text-danger">{{ form.password2.errors }}</span>
            </div>

            <button type="submit" class="btn btn-dark">Submit</button>

            <a href="{% url 'login' %}" class="btn btn-default">Login</a>

        </form>
    </div>
</div> -->











<style>
    html {
  height: 100%;
}
body {
  margin:0;
  padding:0;
  font-family: sans-serif;
  background: linear-gradient(#141e30, #243b55);
}

.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0,0,0,.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.login-box .user-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}

.login-box a:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4,
              0 0 25px #03e9f4,
              0 0 50px #03e9f4,
              0 0 100px #03e9f4;
}

.login-box a span {
  position: absolute;
  display: block;
}

.login-box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}

.login-box a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,100% {
    top: 100%;
  }
}

.login-box a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,100% {
    right: 100%;
  }
}

.login-box a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
}

</style>
<div class="login-box">
    <h2>Kirish</h2>
    <form method="POST" action="{% url 'register' %}">
        {% csrf_token %}
      <div class="user-box">
        <label for="{{ form.username.id_for_label}}"></label>
        <input type="text" name="{{ form.username.name }}" class="form-control" placeholder="Username:" value="{{ form.username.value}}" />
        {% if form.username.errors %}
        <span class="text-danger">{{ form.username.errors }}</span>
        {% endif %}
      </div>
      <div class="user-box">
        <label for="{{ form.password1.id_for_label}}"></label>
        <input type="password" name="{{ form.password1.name }}" class="form-control" placeholder="Password:" value="{{ form.password1.value}}" />
        <span class="text-danger">{{ form.password1.errors }}</span>
      </div>

      <div class="user-box">
      <label for="{{ form.password2.id_for_label}}"></label>
                <input type="password" name="{{ form.password2.name }}" placeholder="Password2" class="form-control" value="{{ form.password2.value}}" />
                <span class="text-danger">{{ form.password2.errors }}</span>
            </div>

      <a href="{%url 'index'%}">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <button style="background-color: #03e8f400; border: none; color: #03e9f4; font-size: 18px;" type="submit">Register</button> 
      </a>
      <!-- <a href="#">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Kirish
      </a> -->
    </form>
  </div>

  
{% endblock %}
